Host shermanpay
     HostName shermanpay.com
     User shermpay

Host amgems
     HostName shermanpay.com
     User amgems

Host attu
     HostName attu.cs.washington.edu
     User shermpay

Host compilers
     HostName 192.168.56.101
     User compilers