Host shermanpay
     HostName shermanpay.com
     User shermpay
     IdentityFile /home/shermpay/.ssh/foobar.pem

Host amgems
     HostName shermanpay.com
     User amgems

Host attu
     HostName attu.cs.washington.edu
     User shermpay

Host compilers
     HostName 192.168.56.101
     User compilers

Host old
     HostName 54.148.195.16
     User shermpay

Host shrimp
     HostName codered.cs.washington.edu
     User shrimp
     IdentityFile /home/shermpay/.ssh/id_shrimp_rsa
